/* Variables */

:root {
	--basic-light-wight: #FBFCFB;
	--basic-white: #FFFFFF;
	--basic-neutral: #F8F7F4;
	--basic--extra-blue: #2E88E4;
	--basic-blue: #8996A6;
	--basic-extra-blue: #1E90FF;
	--basic-brown:#9D8B84;
	--basic-blue-green:  #849D8F;
	--basic-extra-light-orange: #FBDED7;
	--basic-light-dark-orange: #F6B5A5;
	--basic-light-orange: #D07058;
	--basic-orange: #E84D37;
	--basic-orange-gradient-1: #F26843;
	--basic-orange-gradient-2: #E74A35;
	--basic-orange-gradient-3: #E84D37;
	--basic-light-dark: #5A5A5A;
	--basic-extra-dark: #2C2829;
	--basic-gray: #999999;
	--basic-gray-light:#9DB1A5;
	--basic-light-gray:#B0C0B7;
	--basic-black: #323232;
	--basic-extra-black: #231F20;
}
body {
 min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-white);
  background-color: var(--basic-blue-green);
  
}
.bg-gradient{
	position: relative;
    background-image: radial-gradient(circle closest-side at center 358px, rgba(215, 242, 227, 0.75),transparent 100%);
    z-index: -2;
}


.wrapper{
	width: 1146px;
	padding-left: 27px;
	padding-right:27px; 
	margin: 0px auto ;
	position: relative;
}

a{
	text-decoration: none;
	color:var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
p{
	margin:  0px;
}
.visually-hidden{
	position: absolute;
	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
	clip: rect(0 0 0 0);
  	overflow: hidden;
}
/*main navigation */
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.header__nav{
	flex-grow: 1;

}
.header__info{
	width:100%;
	text-align:right;
}
.nav{
	padding: 0px 11px;
	
}
.nav__list{
  list-style: none;
  margin:0px;
  padding:0px;
}
.nav__item{
	display: inline-block;
	margin-left: 4px;
}
.nav__item a{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 9px 13px 11px 13px;
}
.nav__item a:hover{
	color:var(--basic-black);
	background-color:  var(--basic-white);
	border-radius: 26px;
}
.nav__item a:focus{
	background: #EDEDED;
	box-shadow: inset 0px 2px 1px #696969;
	color:var(--basic-black);
	/*background-color: var(--basic-light-gray);*/
	padding: 9px 13px 11px 13px;
	border-radius: 26px;
}
.nav__item_current a{
  background-color: var(--basic-light-orange);
  color:  var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
}
.nav__item__submenu{
	display: none;
	position:absolute;
	background-color: var(--basic-white);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	border: 1px solid #323232 20 %;
	padding: 13px 6px 14px 9px; 
	left: 184px;
	top: 59px;
}
.nav__item__submenu--show{
	display: block;
}
.nav__item__submenu ul{
	padding:0px;
	list-style: none;
}
.nav__item__submenu h2{
	margin: 0px;
	padding-left: 21px;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-black);
}
.nav__item__submenu hr{
	width:128px;
	clear:  rgba(50, 50, 50, 0.2);
}
.submenu__item{
	font-weight: normal;
	color:var(--basic-black);
	font-size: 14px;
    line-height: 16px;
    width: 143px;
    height: 27px;
    padding-left:21px;
}

/* User navigation */
.user-nav{
	list-style: none;
}
.user-nav__item{
	display: inline-block;
	margin-left:10px;
}

/*info*/
.about__shedule{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--basic-white);

}
.about__tel{

	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--basic-white);

}
/*slider*/
.slider{

	padding-bottom: 41px;
}
.slider__list{list-style: none;}
.slider__item{
	position: relative;
	text-align: center;
	display: none;
	padding-top: 235px;
}
.slider__item--active{
	display: block;
}
.slider__img{
	position: absolute;
	width: 647px;
	height: 584px;
	top: -48px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,0);
	z-index: -1;
}
.slider__title{
    font-size: 60px;
    line-height: 60px;
    margin: 27px 218px;
    font-weight: 700;

	
}
.slider__controls-btn{
	width:21px;
	height: 21px;
}
/*specials*/

.specials__list{
	padding-left: 0px;
	margin-bottom:40px;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}
.specials__item{
	box-sizing: border-box;
    display: inline-block;
	border-radius: 16px;
	width:560px;
	padding:16px 22px 22px 16px;
}
.specials__item--chocolate{
	background-image: url("../img/chocolate.png");
  	background-repeat: no-repeat;
  	background-size: cover;
  	
}
.specials__item--rasberry{
	background-image: url("../img/rasberry.png");
  	background-repeat: no-repeat;
  	background-size: cover;
 }
.specials__title{
	font-size:35px;
	line-height: 41px;
	padding:0px;
	margin:0px;
}
.specials__text{
	font-size:18px;
	line-height: 22px;
}
.btn{
	padding: 14px 22px;
	color:var(--basic-white);
	font-size:18px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	background: linear-gradient(180deg,  var(--basic-orange-gradient-1) 0%, var(--basic-orange-gradient-2) 100%);
	box-shadow: 0px 2px 2px 0px #AC1000 64 %;
 	border-radius: 70px;
 	outline: none;
    border: none;
}
.btn:hover{
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	opacity: 20%;

}
.btn:focus{

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
linear-gradient(180deg, #F26843 0%, #E74A35 100%);

}

.btn_grey{
	padding: 8px 16px;
	background:var(--basic-light-gray);
	color:var(--basic-white);
}
.btn_search{


}
.btn--specials{
	float: right;
}
.btn--hits{display: none;}

/*hits*/
.hits__list{
	padding-left: 0px;
	list-style: none;
	margin-top:40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products__item{
	padding: 6px 13px 21px;
}
.products__item--hit{
	position: relative;
}
.products__item--hit:before{
	content: "";
	position: absolute;
	top:6px;
	left: 13px;
	width:61px;
	height: 61px;
	background-image: url("../img/hit.svg");
	background-position: left top;
	background-repeat: no-repeat;


}
.products__title{
	text-align: center;
}
.products__title a{
	font-weight: 500;
	font-size:16px;
	line-height: 22px;
	color: var(--basic-white);
}
.products__img{
	width:267px;
}
.products__price{
	font-size: 45px;
	line-height: 45px;
	text-align: left;
	font-weight: bold;
	margin-top: -50px;
}
.lowercase-hits{
	font-size: 30px;
	font-weight: bold;
	line-height: 35px;
	text-align: left;
	color:var(--basic-white);

}

/*about*/
.about{
	padding: 24px 20px 17px 23px; 
	color:var(--basic-black);
	background-image: url("../img/waffles.png");
  	background-repeat: norepeat;
  	background-size:cover;
  	border-radius: 16px;
}
.about__list{
	list-style: none;
    padding:0px;
    margin:0px;
    margin-top:7px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
}
.about__item{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.about__item--icon-modern{
	padding: 11px 26px 19px 55px;
	background-image: url("../img/ice-cream.svg");
	background-position: left top;
	background-repeat: no-repeat;
}
.about__item--icon-eco{
	padding: 11px 26px 19px 55px;
	background-image: url("../img/leave.svg");
	background-position: left top;
	background-repeat: no-repeat;
}
.about__item--icon-safe{
	padding: 11px 26px 19px 55px;
	background-image: url("../img/cow.svg");
	background-position: left top;
	background-repeat: no-repeat;
}
.about__item--icon-termo{
	padding: 11px 26px 19px 55px;
	background-image: url("../img/gradusnik.svg");
	background-position: left top;
	background-repeat: no-repeat;
}
.about-header{
	margin:0px;
	font-size: 24px;
	font-weight: 500;
	color:var(--basic-black);
}
/*blog and subscribe*/
.articles{
	padding: 0px;
	margin:40px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}
.articles__item{
	box-sizing: border-box;
    display: inline-block;
	border-radius: 16px;
	width:560px;
}
.articles__item--subscribe{
	background-image: url("../img/post-fon.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/*blog*/
.blog{
	background-image: url("../img/strawberry-fon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 0px 41px 20px;
}
.blog__title{
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin: 23px 0px 15px 0px;
	text-align: left;
	color:var(--basic-black);
}
.blog__link{
	display: block;
    width: 287px;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	color: var(--basic-black);
	text-decoration: underline;
}
/*subsribe*/
.subscribe{
	margin: 5px 6px;
	padding: 29px 16px 35px 20px;
	border-radius: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	background-color: var(--basic-neutral);
	color:var(--basic-light-dark);
}
.subscribe__form{
	margin-top: 46px;
}
.form__email{
	width:355px;
	height:44px;
}
.form__btn{
	margin-left: 10px;
	box-shadow: 0px 2px 5px 0px #A0200B 76 %;
	border-radius: nullpx;
}
/*contacts*/
.contacts{
	margin:40px 0px;
	padding:62px 27px 62px 0px;
	width:100%;
	min-height:430px;
	background-image: url("../img/map.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.contacts__pin{
	position: absolute;
	left:15%;
	/*margin:74px 0px 0px 266px;*/

}
.contacts__info{
	width:253px;
    float: right;
	background-color:  #FEFEFE;
	text-align: left;
	border-radius: 16px;
	padding:32px 25px 31px;
	font-size: 18px;
	line-height: 24px;
	color:var(--basic-black);

}
.contacts__adress{
	margin-bottom: 33px;
}
.contacts__adress--street{ margin: 8px 0px; }
.contacts__telephone--time{margin: 8px 0px;}
.contacts__telephone--text{margin: 8px 0px;}
.contacts_tel{
	font-size: 18px;
	line-height: 24px;
	color:var(--basic-black);
}
.lowercase-contacts{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color:var(--basic-black);
}
.strong-contacts{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color:var(--basic-black);
}
.contacts__btn{
	box-shadow: 0px 2px 5px 0px #A0200B 76 %;
	margin-top: 23px;
}
/*socials*/
.footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.socials{
	margin-left: 0px;
	list-style: none;
}
.socials__item{
	display: inline-block;
	width:32px;
	height:32px;
	margin-right: 12px;
}
.socials__link--facebook{
	background-image: url("../img/facebook.svg");
	background-size: cover;
}
.socials__link--vkontakte{
	background-image: url("../img/vkontakte.svg");
	background-size: cover;
}
.socials__link--instagram{
	background-image: url("../img/instagram.svg");
	background-size: cover;
}
.socials__link--twitter{
	background-image: url("../img/twitter.svg");
	background-size: cover;
}
.links{
	list-style: none;
}
.socials__link{
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--basic-white);
}
.links{
	display: grid;
	list-style: none;
    padding:0px;
    margin:0px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
}
.links__item a{
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--basic-white);
}
.links__heart{
	margin: 1px 7px 0px 0px;
}
.links__item--heart {
	background-image: url("../img/heart.svg");
	background-position: left;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-left:22px;
}
/*copyrights*/
.copyrights {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color:var(--basic-white);
}
.copyrights a{
	color: var(--basic-white);
}
/*modal window cotact us*/
.modal{
	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
  	display: none;
  	color: var(--basic-black);
  	background-color:  #E5E5E5;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

/* Modal Contact us */

.modal-contact{
	position: absolute;
  display: none;
  color: var(--basic-black);
  background-color: #F8F7F4;
  border-radius: 6px;
  top: 338px;
  bottom: auto;
  width: 427px;
  padding: 20px 24px 27px 25px;
}

.modal-contact h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
}


.modal-show{
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.background-shadow{
	position: absolute;
	width: 100%;
	height: 3000px;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.3);
}

/* Modal close */

.modal-close{
  position: absolute;
  top: 10px;
  right: 16px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/X-big.svg");
}

.btn--contact_form{
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	float:right;
}
/* Contact form */

.contact_form p {
  margin: 0;
  margin-bottom: 20px;
}

.сontact_form-name,
.contact_form-email{
  width: 267px;
  padding:16px 14px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-black);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
 line-height: 20px;
}
.contact_form-message:hover,.сontact_form-name:hover,.contact_form-email:hover{
	border: 2px solid rgba(178, 178, 178, 0.52);
}
.contact_form-message:focus,.сontact_form-name:focus,.contact_form-email:focus{
	border: 2px solid rgba(46, 136, 228, 0.52);
}

.contact_form-message{
	width:428px;
	height: 154px;
	resize: none; 
	padding:16px 14px;
	background: #FFFFFF;
	border: 1px solid rgba(178, 178, 178, 0.52);
	box-sizing: border-box;
	border-radius: 4px;
	color: var(--basic-black);
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
::-webkit-input-placeholder {font-weight:normal;color:var(--basic-gray);}
::-moz-placeholder          {font-weight:normal;color:var(--basic-gray);}/* Firefox 19+ */
:-moz-placeholder           {font-weight:normal;color:var(--basic-gray);}/* Firefox 18- */
:-ms-input-placeholder      {font-weight:normal;color:var(--basic-gray);}
/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
